<StackLayout>
    <GridLayout class="product-quantity" columns="340, *" rows="auto">
        <StackLayout class="" row="0" col="0">
            <GridLayout class="product-sections" columns="*, *" rows="*">
                <StackLayout class="" row="0" col="0">
                    <DockLayout>
                        <Label text="Qty"></Label>
                        <TextField [(ngModel)]="productQuantity" keyboardType="number" hint=""></TextField>
                    </DockLayout>
                    <DockLayout marginTop="50px">
                        <Label text="Price"></Label>
                        <TextField [(ngModel)]="selectedProduct.StandardUnitCost" hint="" isEnabled="false"></TextField>
                    </DockLayout>
                </StackLayout>
                <StackLayout row="0" col="1">
                    <DockLayout>
                        <DropDown [items]="eachs" [(ngModel)]="each"></DropDown>
                    </DockLayout>
                    <DockLayout marginTop="50px">
                        <Label text="Disc %"></Label>
                        <TextField hint="" isEnabled="false"></TextField>
                    </DockLayout>
                </StackLayout>
            </GridLayout>
            <StackLayout marginTop="50px">
                <DockLayout>
                    <Label text="Whse"></Label>
                    <DropDown [items]="wharehousesProduct" [(ngModel)]="wharehouseProduct"></DropDown>
                </DockLayout>
                <TextView backgroundColor="white" style="margin-top: 15px" borderColor="#DEDEDE" borderWidth="1" height="300px" marginBottom="60px" marginTop="100px" hint="Comment" class="input input-border"></TextView>
            </StackLayout>
            <GridLayout class="" columns="125, *, *" rows="*">
                <StackLayout class="" row="0" col="0" horizontalAlignment="right">
                    <Label text="QTY ON HAND"></Label>
                    <Label text="0"></Label>
                </StackLayout>
                <StackLayout row="0" col="1" horizontalAlignment="right">
                    <Label text="QTY AVAIL"></Label>
                    <Label text="0"></Label>
                </StackLayout>
                <StackLayout row="0" col="2" horizontalAlignment="right">
                    <Label text="STD PRICE"></Label>
                    <Label [text]="selectedProduct.StandardUnitPrice"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout class="" row="0" col="1">
            <Button class="option-button" text="Add" verticalAlignment="center" (tap)="addProduct()"></Button>
            <Button class="option-button" text="Cancel" verticalAlignment="center" (tap)="cancel()"></Button>
            <Image class="productImage" src="~/assets/images/barCode.png" (tap)="showCart()"></Image>
        </StackLayout>
    </GridLayout>
</StackLayout>