<StackLayout padding="20%">
    <GridLayout class="" columns="340, *" rows="auto">
        <StackLayout class="" row="0" col="0">
            <GridLayout class="product-sections" columns="*" rows="*">
                <StackLayout class="" row="0" col="0">
                    <DockLayout>
                        <Label text="Qty" verticalAlignment="center" paddingRight="5%"></Label>
                        <TextField [(ngModel)]="selectedCartProduct.quantity" keyboardType="number" hint=""></TextField>
                    </DockLayout>
                    <DockLayout marginTop="50px">
                        <Label text="Price" verticalAlignment="center" paddingRight="5%"></Label>
                        <TextField [(ngModel)]="selectedCartProduct.StandardUnitPrice" hint="" isEnabled="false"></TextField>
                    </DockLayout>
                </StackLayout>
            </GridLayout>
            <StackLayout marginTop="50px">
                <DockLayout>
                    <Label text="Warehouse" verticalAlignment="center" paddingRight="5%"></Label>
                    <TextField [text]="warehouse" class="enabled" isEnabled="false"></TextField>
                </DockLayout>
                <TextView backgroundColor="white" style="margin-top: 15px" borderColor="#DEDEDE" borderWidth="1" height="300px" marginBottom="60px" marginTop="100px" hint="Comment" [(ngModel)]="selectedCartProduct.comment" class="input input-border"></TextView>
            </StackLayout>
            <GridLayout class="" columns="125, *, *" rows="*">
                <StackLayout class="" row="0" col="0" horizontalAlignment="right">
                    <Label text="QTY ON HAND"></Label>
                    <Label [text]="selectedCartProduct.quantityOnHand"></Label>
                </StackLayout>
                <StackLayout row="0" col="1" horizontalAlignment="right">
                    <Label text="QTY AVAIL"></Label>
                    <Label [text]="selectedCartProduct.quantityAvail"></Label>
                </StackLayout>
                <StackLayout row="0" col="2" horizontalAlignment="right">
                    <Label text="STD PRICE"></Label>
                    <Label [text]="selectedCartProduct.StandardUnitPrice"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout class="" row="0" col="1">
            <Button class="option-button" text="Save" verticalAlignment="center" (tap)="close()"></Button>
        </StackLayout>
    </GridLayout>
</StackLayout>