<StackLayout padding="20%">
        <StackLayout width="60%">
                <StackLayout>
                    <DockLayout>
                        <Label text="Quantity:" verticalAlignment="center" paddingRight="5%"></Label>
                        <TextField #Qty maxLength="4" [(ngModel)]="selectedCartProduct.quantity" keyboardType="number" hint="" borderColor="orangered" borderWidth="1"></TextField>
                    </DockLayout>
                    <DockLayout>
                        <Label text="Price:" verticalAlignment="center" paddingRight="5%"></Label>
                        <TextField [(ngModel)]="selectedCartProduct.StandardUnitPrice" hint="" isEnabled="false"></TextField>
                    </DockLayout>
                </StackLayout>
            <StackLayout>
                <DockLayout>
                    <Label text="Warehouse:" verticalAlignment="center" paddingRight="5%"></Label>
                    <TextField [text]="warehouse" class="enabled" isEnabled="false"></TextField>
                </DockLayout>
                <Label></Label>
                <TextView backgroundColor="white" hint="Comment" [(ngModel)]="selectedCartProduct.comment" borderColor="orangered" borderWidth="1" height="25%" paddingTop="10%"></TextView>
            </StackLayout>
            <DockLayout>
                <StackLayout width="33%">
                    <Label text="ON HAND"></Label>
                    <Label [text]="selectedCartProduct.quantityOnHand"></Label>
                </StackLayout>
                <StackLayout width="33%">
                    <Label text="AVAILABLE"></Label>
                    <Label [text]="selectedCartProduct.quantityAvail"></Label>
                </StackLayout>
                <StackLayout width="33%">
                    <Label text="STD PRICE"></Label>
                    <Label [text]="selectedCartProduct.StandardUnitPrice"></Label>
                </StackLayout>
            </DockLayout>
            <Button class="option-button" text="Save" verticalAlignment="center" (tap)="close()" color="white" backgroundColor="orangered"></Button>
        </StackLayout>
</StackLayout>