<ActionBar title="Mobile Sales" class="action-bar">
    <DockLayout>
        <StackLayout width="50%">
            <DockLayout>
                <StackLayout width="10%" horizontalAlignment="left">
                        <Image src="~/assets/images/iconMS.png" width="100%" height="100%"></Image>
                </StackLayout>
                <StackLayout width="90%">
                        <Label text="Mobile Sales" textAlignment="left" fonstSize="20%" paddingTop="10%"></Label>
                </StackLayout> 
            </DockLayout>
        </StackLayout>
        <StackLayout width="50%">
            <Button text="&#xf021; Refresh" verticalAlignment="center" horizontalAlignment="right"  (tap)="checkDocument()" fontSize="15%"></Button>
        </StackLayout>
    </DockLayout>
</ActionBar>

<GridLayout class="login-content" columns="*, 500, *" rows="50, 400, 50">
    <StackLayout col="0" orientation="horizontal" horizontalAlignment="left">
    </StackLayout>
    <Border class="login-box" row="1" col="1" borderRadius="8" borderWidth="3" borderColor="#FB8D70" horizontalAlignment="stretch">
        <StackLayout class="form" horizontalAlignment="stretch">
            <Image src="~/assets/images/ifd-international.png"></Image>
            <Border borderBottomWidth="2" borderBottomColor="#FB8D70">
                <DockLayout>
                    <Label class="h2" text="User Login" verticalAlignment="center" width="80%"></Label>
                    <Label text="Ver. 5.0.0" color="orangered"></Label>
                </DockLayout>
            </Border>
            <StackLayout class="form fields" horizontalAlignment="stretch">
                <DockLayout>
                    <Label text="User:" color="orangered" width="40%"></Label>
                    <DropDown [items]="userArray" class="enabled" [(ngModel)]="userName" colSpan="2" isEnabled="true" hint="Select..." backgroundColor="white"
                        (selectedIndexChanged)="onchange($event)">
                        <TextField [text]="userName" [(ngModel)]="userName"></TextField>
                    </DropDown>
                </DockLayout>
                <DockLayout paddingTop="20%">
                    <Label text="Password:" color="orangered" width="40%"></Label>
                    <TextField [(ngModel)]="userPassword" type="password" hint="Password" secure="true" maxLength="50"></TextField>
                </DockLayout>
            </StackLayout>
            <Button text="Login" (tap)="login()"></Button>
        </StackLayout>
    </Border>
    <StackLayout col="2" orientation="horizontal" horizontalAlignment="left">
    </StackLayout>
</GridLayout>