<ActionBar title="Mobile Sales Automation" class="action-bar">
    <GridLayout columns="*,*" rows="auto, *">
        <StackLayout col="0" orientation="horizontal" horizontalAlignment="left">
            <Image src="~/assets/images/logo.png"></Image>
            <Label text="Mobile Sales Automation" verticalAlignment="center"></Label>
        </StackLayout>
        <StackLayout col="1" orientation="horizontal" horizontalAlignment="right">
            <Button text="&#xf0b0; Filter" verticalAlignment="center"></Button>
            <Button text="&#xf142;" verticalAlignment="center" class="options"></Button>
        </StackLayout>
    </GridLayout>
</ActionBar>

<GridLayout class="" columns="*, *" rows="*" backgroundColor="white">
    <StackLayout class="customer-content" row="0" col="0">
        <SearchBar hint="Search" (textChange)="onTextChanged($event)" (clear)="onClear($event)" textFieldBackgroundColor="white"></SearchBar>
        <Border borderRadius="8" borderBottomWidth="2" borderTopWidth="2" borderColor="#DE6427" horizontalAlignment="stretch">
            <GridLayout borderRadius="8" class="" columns="*" rows="*" backgroundColor="white">
                <ListView [items]="customerList" class="list-group">
                    <ng-template let-item="item">
                        <StackLayout borderRadius="8" class="item list-group-item" [class.highlight]="selectedCustomer.CustomerNo == item.CustomerNo"
                            (tap)="setSelectedCustomer(item)">
                            <Label [text]="item.CustomerName" class="list-group-item-heading h2"></Label>
                            <StackLayout marginLeft="5%">
                                <Label [text]="item.CustomerNo" class="list-group-item-heading"></Label>
                                <Label [text]="item.City + ', ' + item.State + '. ' + item.ZipCode" class="list-group-item-heading"></Label>
                            </StackLayout>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </GridLayout>
        </Border>
    </StackLayout>
    <StackLayout class="customer-content customer-detail" row="0" col="1">
        <Border borderRadius="8" borderRightWidth="3" borderLeftWidth="3" borderColor="#DE6427" horizontalAlignment="stretch">
            <GridLayout borderRadius="8" class="" columns="*" rows="100, *, 100" backgroundColor="white">
                <Border margin="3%" colSpan="2" borderBottomWidth="2" borderColor="#F7A176" horizontalAlignment="stretch">
                    <StackLayout>
                        <Label [text]="selectedCustomer.CustomerName" class="h1"></Label>
                        <Label [text]="selectedCustomer.CustomerNo" class="list-group-item-heading"></Label>
                    </StackLayout>
                </Border>
                <StackLayout *ngIf="selectedCustomer.CustomerNo != 'Select a customer to view details'" margin="3%" col="0" row="1">
                    <Label text="ADDRESS" class="h2"></Label>
                    <Label [text]="selectedCustomer.AddressLine1" class="list-group-item-heading"></Label>
                    <Label [text]="selectedCustomer.City + ', ' + selectedCustomer.State + '. ' + selectedCustomer.ZipCode" class="list-group-item-heading"></Label>

                    <Label text="PHONE" class="h2"></Label>
                    <Label [text]="selectedCustomer.TelephoneNo" class="list-group-item-heading"></Label>

                    <Label text="PRIMARY CONTACT" class="h2"></Label>
                    <Label [text]="selectedCustomer.TelephoneNo" class="list-group-item-heading"></Label>

                    <Label text="TERMS" class="h2"></Label>
                    <Label [text]="selectedCustomer.TermsCode + ': ' + userTermsCode" class="list-group-item-heading"></Label>

                    <Label text="SALESREP" class="h2"></Label>
                    <Label [text]="salesRep" class="list-group-item-heading"></Label>
                    <!--
                        <Label text="PRICE LEVEL" class="h2"></Label>
                        <Label [text]="" class="list-group-item-heading"></Label>
                        -->
                </StackLayout>
            </GridLayout>
        </Border>
    </StackLayout>
</GridLayout>