<ActionBar title="Mobile Sales Automation" class="action-bar">
    <GridLayout columns="*,*" rows="auto, *" >
        <StackLayout col="0" orientation="horizontal" horizontalAlignment="left">
            <Image src="~/assets/images/logo.png"></Image>
            <Label text="Mobile Sales Automation" verticalAlignment="center"></Label>
        </StackLayout>
        <StackLayout col="1" orientation="horizontal" horizontalAlignment="right">
            <Button text="&#xf0b0; Filter" verticalAlignment="center"></Button>
            <Button text="&#xf142;" verticalAlignment="center" class="options"></Button>
        </StackLayout>
    </GridLayout>
</ActionBar>

<GridLayout class="" columns="*, *" rows="*">
    <StackLayout class="customer-content" row="0" col="0">
        <SearchBar hint="Search" (textChange)="onTextChanged($event)" textFieldBackgroundColor="white"></SearchBar>
        <GridLayout class="" columns="*" rows="*" backgroundColor="white">
            <ListView [items]="customerList" class="list-group">
                <ng-template let-item="item">
                    <StackLayout class="item list-group-item">
                        <Label [text]="item.CustomerName" class="list-group-item-heading"></Label>
                        <Label [text]="item.CustomerNo" class="list-group-item-heading"></Label>
                        <Label [text]="item.City + ' ' + item.State + ' ' + item.ZipCode" class="list-group-item-heading"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </GridLayout>
    </StackLayout>
    <StackLayout class="customer-content customer-detail" row="0" col="1">
        <SearchBar hint="Search" [(ngModel)]="searchPhrase" (clear)="onClear($event)" (textChange)="onTextChanged($event)" textFieldBackgroundColor="white"></SearchBar>
        <GridLayout class="" columns="*" rows="*" backgroundColor="white">
            <ListView [items]="customerList" class="list-group">
                <ng-template let-item="item">
                    <StackLayout class="item list-group-item">
                            <Label [text]="item.CustomerName" class="list-group-item-heading"></Label>
                            <Label [text]="item.CustomerNo" class="list-group-item-heading"></Label>
                            <Label [text]="item.City + ' ' + item.State + ' ' + item.ZipCode" class="list-group-item-heading"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </GridLayout>
    </StackLayout>
</GridLayout>