<ActionBar title="Mobile Sales" class="action-bar">
    <DockLayout>
        <StackLayout width="33%">
            <DockLayout>
                <StackLayout width="15%" horizontalAlignment="left">
                    <Image src="~/assets/images/iconMS.png" width="100%" height="100%"></Image>
                </StackLayout>
                <StackLayout width="75%">
                    <Label text="Mobile Sales" textAlignment="left" fontSize="20" paddingTop="10%"></Label>
                </StackLayout>
            </DockLayout>
        </StackLayout>
        <StackLayout width="33%">
        </StackLayout>
        <StackLayout width="33%">
            <Button (tap)="editTransaction()" text="&#xf044; Edit" verticalAlignment="center" horizontalAlignment="right" fontSize="15%" backgroundColor="orangered"></Button>
        </StackLayout>
    </DockLayout>
</ActionBar>
<StackLayout backgroundColor="white">
    <DockLayout>
        <StackLayout padding="20%" width="50%">
            <StackLayout paddingBottom="5%">
                <SearchBar hint="Search" (textChange)="onTextChanged($event)" textFieldBackgroundColor="white"></SearchBar>
            </StackLayout>
            <StackLayout>
                <DockLayout horizontalAlignment="center">
                    <Button (tap)="setUserTransaction(0)" class="option-button" text="Sales Order"></Button>
                    <Button (tap)="setUserTransaction(1)" class="option-button" text="Quotes"></Button>
                </DockLayout>
                <GridLayout class="" columns="*" rows="*" backgroundColor="white" borderRadius="8" borderBottomWidth="2" borderTopWidth="2" borderColor="orangered">
                    <ListView [items]="transactionList" class="list-group">
                        <ng-template let-item="item">
                            <StackLayout class="item list-group-item" (tap)="setSelectedTransaction(item)" [class.highlight]="item.SalesOrderNO == selectedTransaction.SalesOrderNO">
                                <DockLayout>
                                    <StackLayout>
                                        <Label [text]="item.SalesOrderNO" class="list-group-item-heading"></Label>
                                        <Label [text]="item.CustomerName"></Label>
                                    </StackLayout>
                                </DockLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout padding="20%" width="50%">
            <GridLayout color="white" backgroundColor="gray" borderRadius="8" class="" columns="100, *, 120" rows="60">
                <StackLayout col="0" verticalAlignment="center">
                    <Label text="   Quantity"></Label>
                </StackLayout>
                <StackLayout col="1" verticalAlignment="center">
                    <Label text="Item"></Label>
                </StackLayout>
                <StackLayout col="2" verticalAlignment="center">
                    <Label text="Unit Price" horizontalAlignment="left"></Label>
                    <Label text="Extension" horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout class="" columns="*" rows="*" backgroundColor="white">
                <ListView [items]="selectedTransaction.Detail" class="list-group">
                    <ng-template let-item="item">
                        <GridLayout borderRadius="8" class="" columns="100, *, 120" rows="100">
                            <StackLayout col="0" verticalAlignment="center" paddingRight="20%">
                                <Label width="100%" class="textRight" [text]="item.quantity" horizontalAlignment="right"></Label>
                                <Label width="100%" class="totals-subtitle textRight" text="EACH" horizontalAlignment="right"></Label>
                            </StackLayout>
                            <StackLayout col="1" verticalAlignment="center">
                                <Label [text]="item.ItemCodeDesc" horizontalAlignment="left" paddingRight="20%"></Label>
                                <Label class="totals-subtitle" [text]="item.ItemCode" horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="2" verticalAlignment="center" paddingRight="20%">
                                <Label width="100%" class="textRight" [text]="item.StandardUnitPrice | number:'1.2-5'" horizontalAlignment="center"></Label>
                                <Label width="100%" class="totals-subtitle textRight" [text]="item.StandardUnitPrice | number:'1.2-5'" horizontalAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </ListView>
            </GridLayout>
        </StackLayout>
    </DockLayout>
</StackLayout>