<ActionBar title="Mobile Sales Automation" class="action-bar">
    <GridLayout columns="*,*" rows="auto, *" >
        <StackLayout col="0" orientation="horizontal" horizontalAlignment="left">
            <Image src="~/assets/images/logo.png"></Image>
            <Label text="Mobile Sales Automation" verticalAlignment="center"></Label>
        </StackLayout>
        <StackLayout col="1" orientation="horizontal" horizontalAlignment="right">
            <Button text="&#xf021; Refresh" verticalAlignment="center"></Button>
            <Button text="&#xf142;" verticalAlignment="center" class="options"></Button>
        </StackLayout>
    </GridLayout>
</ActionBar>
<StackLayout class="page">
    <DockLayout>
            <StackLayout class="home-transaction">
                    <Image src="~/assets/images/ifd.png" width="30%" height="40%"></Image>
                    <StackLayout>
                        <label text="Adrian Cortes" fontSize="32"></label>
                        <DockLayout>
                            <label text="Unsend Transactions:" fontSize="16"></label>
                            <label text="0" horizontalAlignment="right" verticalAligment="center" fontSize="28"></label>
                        </DockLayout>
                        <DockLayout>
                            <label text="Avg Amount:" fontSize="16"></label>
                            <DockLayout horizontalAlignment="right">
                                    <label text="$"  verticalAligment="center" fontSize="28"></label>
                                    <label text="0.00"  verticalAligment="center" fontSize="28"></label>
                            </DockLayout>
                            
                        </DockLayout>
                        <DockLayout>
                            <label text="Total Amount:" fontSize="16"></label>
                            <DockLayout horizontalAlignment="right">
                                    <label text="$"  verticalAligment="center" fontSize="28"></label>
                                    <label text="0.00"  verticalAligment="center" fontSize="28"></label>
                            </DockLayout>
                        </DockLayout>
                    </StackLayout>
            </StackLayout>
            <DockLayout class="home-options" paddingTop="100%">
                                
                            <StackLayout width="50%">
                                    <label text="Transactions" fontSize="30"></label>
                                    <button [nsRouterLink]="['/customer']" text="&#xf09d;    New Transaction" fontSize="18" color="white" backgroundColor="orange"></button>
                                    <button text="&#xf022;    Review Transactions" fontSize="18" color="white" backgroundColor="orange"></button>
                                    <label text="Communications" fontSize="30"></label>
                                    <button text="&#xf093;    Send Data" fontSize="18" color="white" backgroundColor="#2196F3"></button>
                                    <button text="&#xf021;    Refresh Data" fontSize="18" color="white" backgroundColor="#2196F3"></button>
                                </StackLayout>
                                <StackLayout>
                                    <label text="Inquiries" fontSize="30"></label>
                                    <button text="&#xf0c0;    Customer Inquiry" fontSize="18" color="white" backgroundColor="gray"  ></button>
                                    <button text="&#xf291;    Item Inquiry" fontSize="18" color="white" backgroundColor="gray"></button>
                                    <label text="Settings" fontSize="30"></label>
                                    <button text="&#xf085;    Settings" fontSize="18" color="white" backgroundColor="purple"></button>
                            </StackLayout>
            </DockLayout>
            
            
    </DockLayout>
    
</StackLayout>