<StackLayout>
    <ActionBar title="Mobile Sales" class="action-bar">
        <DockLayout>
            <StackLayout width="33%">
                <DockLayout>
                    <StackLayout width="15%" horizontalAlignment="left">
                        <Image src="~/assets/images/iconMS.png" width="100%" height="100%"></Image>
                    </StackLayout>
                    <StackLayout width="75%">
                        <Label text="Mobile Sales" textAlignment="left" fontSize="20" paddingTop="10%"></Label>
                    </StackLayout>
                </DockLayout>
            </StackLayout>
            <StackLayout width="33%">
            </StackLayout>
            <StackLayout width="33%">
                <Button text="&#xf093; Send" verticalAlignment="center" horizontalAlignment="right" (tap)="sendData()" fontSize="15%" backgroundColor="orangered"></Button>
            </StackLayout>
        </DockLayout>
    </ActionBar>
    <DockLayout>
        <StackLayout width="30%" padding="10%">
            <StackLayout backgroundColor="gray" height="5%">
                <DockLayout>
                    <Label class="listViewBarFont" text="Transaction Type" width="75%"></Label>
                    <Label class="listViewBarFont" text="Count" width="25%"></Label>
                </DockLayout>
            </StackLayout>
            <GridLayout rows="*">
                <ListView [items]="options" class="list-group">
                    <ng-template let-item="item" let-i="index">
                        <StackLayout (tap)="setTransactionList(i)">
                            <DockLayout>
                                <Label width="75%" [text]="item.name" class="list-group-item-heading" fontSize="20"></Label>
                                <Label width="25%" [text]="item.list.length | number:'1.2-5'" class="list-group-item-heading" fontSize="20"></Label>
                            </DockLayout>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </GridLayout>
        </StackLayout>
        <StackLayout padding="10%">
            <StackLayout>
                <StackLayout backgroundColor="gray" height="5%">
                    <DockLayout>
                        <Label width="10%" text="" class="listViewBarFont"></Label>
                        <Label width="20%" text="Type" class="listViewBarFont"></Label>
                        <Label width="25%" text="Trans" class="listViewBarFont"></Label>
                        <Label width="45%" text="Customer" class="listViewBarFont"></Label>
                    </DockLayout>
                </StackLayout>

                <GridLayout *ngIf="userTransaction == 0" rows="*">
                    <ListView [items]="options[0].list" class="list-group">
                        <ng-template let-item="item" let-i="index">
                            <StackLayout>
                                <DockLayout>
                                    <Switch width="10%" checked="false" color="" (checkedChange)="switch(item)"></Switch>
                                    <Label width="20%" [text]="item.IsQuote ? 'Quote' : 'Sale order'" class="list-group-item-heading" fontSize="20"></Label>
                                    <Label width="25%" [text]="item.SalesOrderNO" class="list-group-item-heading" fontSize="20"></Label>
                                    <Label width="45%" [text]="item.CustomerName" class="list-group-item-heading" fontSize="20"></Label>
                                </DockLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>
                <GridLayout *ngIf="userTransaction == 1" rows="*">
                    <ListView [items]="options[1].list" class="list-group">
                        <ng-template let-item="item" let-i="index">
                            <StackLayout>
                                <DockLayout>
                                    <Switch width="10%" checked="false" color="" (checkedChange)="switch(item)"></Switch>
                                    <Label width="20%" [text]="item.IsQuote ? 'Quote' : 'Sale order'" class="list-group-item-heading" fontSize="20"></Label>
                                    <Label width="25%" [text]="item.SalesOrderNO" class="list-group-item-heading" fontSize="20"></Label>
                                    <Label width="45%" [text]="item.CustomerName" class="list-group-item-heading" fontSize="20"></Label>
                                </DockLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>
            </StackLayout>
            <label text="fsdfsdf"></label>

        </StackLayout>
    </DockLayout>
</StackLayout>