TabView {
    font-size: 18%;
}

.tab-content {
    margin: 7%;
    font-size: 20%;
}

.tab-content Label {
    font-weight: bold;
    margin-top: 2%;
    width: 30%;;
}

.tab-content .h3 {
    width: 100%;
    text-align: center;
    color: #DE6427;
    font-size: 22%;
}

.tab-content TextField, .tab-content Dropdown {
    width: 50%;
}

.tab-content Dropdown {
    padding: 8%;
}

.tab-content DockLayout {
    margin-top: 4%;
}

.tab-suContent Label {
    width: 20%;
}

.tab-list {
    margin-right: 5%;
}