<ActionBar title="Mobile Sales Automation" class="action-bar">
    <GridLayout columns="*,*" rows="auto, *" >
        <StackLayout col="0" orientation="horizontal" horizontalAlignment="left">
            <Image src="~/assets/images/logo.png"></Image>
            <Label text="Mobile Sales Automation" verticalAlignment="center"></Label>
        </StackLayout>
        <StackLayout col="1" orientation="horizontal" horizontalAlignment="right">
            <Button text="&#xf0b0; Filter" verticalAlignment="center"  (tap)="showModal()"></Button>
            <Button text="&#xf142;" verticalAlignment="center" class="options"></Button>
        </StackLayout>
    </GridLayout>
</ActionBar>

<TabView selectedIndex="0" androidSelectedTabHighlightColor="#DE6427" tabTextColor="#C2C1C1" sdkExampleTitle sdkToggleNavButton>
    <StackLayout *tabItem="{title: '&#xf05a; HEADER'}">
        <GridLayout class="tab-content" columns="*, *" rows="*">
            <StackLayout row="0" col="0">
                    <Label text="Customer No"></Label>
                    <TextField hint="Customer No" isEnabled="false"></TextField>
                    <Label text="Date"></Label>
                    <TextField hint="Date" [(ngModel)]="dates.date" (tap)="showModal('date')"></TextField>
                    <Label text="Ship Date"></Label>
                    <TextField hint="Ship Date" [(ngModel)]="dates.shipDate" (tap)="showModal('shipDate')"></TextField>
                    <Label text="Wharehouse"></Label>
                    <TextField hint="Wharehouse"></TextField>
                    <Label text="Ship Via"></Label>
                    <TextField hint="Ship Via"></TextField>
                    <Label text="Terms"></Label>
                    <TextField hint="Terms"></TextField>
                    <Label text="Tax Schedule"></Label>
                    <TextField hint="Tax Schedule"></TextField>
            </StackLayout>
            <StackLayout row="0" col="1">
                    
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf2ba; ADDRESS'}" >
        <Label text="First tab item"></Label>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf02e; LINES'}" >
        <Label text="First tab item"></Label>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf2b5; TOTALS'}" >
        <Label text="First tab item"></Label>
    </StackLayout>
</TabView>