<ActionBar title="Mobile Sales" class="action-bar">
    <DockLayout>
        <StackLayout width="33%">
            <DockLayout>
                <StackLayout width="15%" horizontalAlignment="left">
                    <Image src="~/assets/images/iconMS.png" width="100%" height="100%"></Image>
                </StackLayout>
                <StackLayout width="75%">
                    <Label text="Mobile Sales" textAlignment="left" fontSize="20" paddingTop="10%"></Label>
                </StackLayout>
            </DockLayout>
        </StackLayout>
        <StackLayout width="33%">
        </StackLayout>
        <StackLayout width="33%">
            <Button text="&#xf187; SAVE" verticalAlignment="center" horizontalAlignment="right" (tap)="save()" fontSize="15%" backgroundColor="orangered"></Button>
        </StackLayout>
    </DockLayout>
</ActionBar>
<TabView selectedIndex="0" selectedColor="#DE6427" sdkExampleTitle sdkToggleNavButton backgroundColor="white">
    <StackLayout *tabItem="{title: '&#xf05a; HEADER'}">
        <GridLayout class="tab-content" columns="*, *" rows="*">
            <StackLayout row="0" col="0">
                <DockLayout>
                    <Label text="Customer No"></Label>
                    <TextField [text]="_saleOrder.CustomerNo" class="enabled" hint="Customer No" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Date"></Label>
                    <TextField hint="Date" [(ngModel)]="_saleOrder.OrderDate" (tap)="showDateModal('OrderDate')"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Ship Date"></Label>
                    <TextField hint="Ship Date" [(ngModel)]="_saleOrder.ShipDate" (tap)="showDateModal('ShipDate')"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Ship Method"></Label>
                    <DropDown [items]="shipMethods" (ngModelChange)="setShipMethod()" [(ngModel)]="shipMethod" colSpan="2"></DropDown>
                </DockLayout>
                <DockLayout>
                    <Label text="Warehouse"></Label>
                    <DropDown [items]="warehouses" (ngModelChange)="filterInventoryWarehouse()" [(ngModel)]="warehouse" colSpan="2"></DropDown>
                </DockLayout>
                <DockLayout>
                    <Label text="Terms"></Label>
                    <TextField [text]="_saleOrder.TermsCode + ': ' + userTermsCode" class="enabled" hint="Terms" isEnabled="false"></TextField>
                </DockLayout>
            </StackLayout>
            <StackLayout row="0" col="1">
                <DockLayout horizontalAlignment="left">
                    <TextField [text]="_saleOrder.CustomerName" class="enabled" hint="371 FURNITURE" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Customer PO"></Label>
                    <TextField [(ngModel)]="_saleOrder.CustomerPONo"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Confirm To"></Label>
                    <TextField [(ngModel)]="_saleOrder.CustomerConfirmTo"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="FOB"></Label>
                    <TextField [(ngModel)]="_saleOrder.CustomerFBO"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Comment"></Label>
                    <TextField [(ngModel)]="_saleOrder.Comment"></TextField>
                </DockLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf2ba; ADDRESS'}">
        <GridLayout class="tab-content" columns="*, *" rows="*">
            <StackLayout row="0" col="0">
                <DockLayout>
                    <Label class="h3" text="BILL TO ADDRESS"></Label>
                </DockLayout>
                <DockLayout>
                    <Label text="Name"></Label>
                    <TextField [text]="_saleOrder.CustomerName" class="enabled" hint="Name" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Address"></Label>
                    <TextField [text]="_saleOrder.BillToAddress1" class="enabled" hint="Address" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField [text]="_saleOrder.BillToAddress2" class="enabled" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField [text]="_saleOrder.BillToAddress3" class="enabled" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField [text]="_saleOrder.BillToCity + ', ' + _saleOrder.BillToState + ' ' + _saleOrder.BillToZipCode" class="enabled"
                        hint="City" isEnabled="false"></TextField>
                </DockLayout>
            </StackLayout>
            <StackLayout row="0" col="1">
                <DockLayout>
                    <Label class="h3" text="SHIP TO ADDRESS"></Label>
                </DockLayout>
                <DockLayout>
                    <Label text="Ship To"></Label>
                    <DropDown [items]="shippingAddressList" [selectedIndex]="_saleOrder.ShipTo" (selectedIndexChanged)="setCustomerShippingAddress($event)"
                        colSpan="2"></DropDown>
                </DockLayout>
                <DockLayout>
                    <Label text="Name"></Label>
                    <TextField class="enabled" [text]="_saleOrder.ShipToName" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Address"></Label>
                    <TextField class="enabled" [text]="_saleOrder.ShipToAddress1" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField class="enabled" [text]="_saleOrder.ShipToAddress2" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField class="enabled" [text]="_saleOrder.ShipToAddress3" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField [text]="_saleOrder.ShipToCity + ', ' + _saleOrder.ShipToState + ' ' + _saleOrder.ShipToZipCode" class="enabled"
                        hint="City" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Ship Via"></Label>
                    <DropDown [items]="shipVias" (selectedIndexChanged)="setCustomerShipVia($event)" [(ngModel)]="shipVia"></DropDown>
                </DockLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf02e; LINES'}">
        <GridLayout class="tab-content" columns="*, *" rows="*">
            <StackLayout class="tab-list" row="0" col="0">
                <SearchBar hint="Search" (textChange)="onTextChanged($event)" (clear)="onClear($event)" textFieldBackgroundColor="white"></SearchBar>
                <Border backgroundColor="white" borderRadius="8" borderBottomWidth="2" borderTopWidth="2" borderColor="#DE6427" horizontalAlignment="stretch">
                    <GridLayout backgroundColor="white" class="tab-content" columns="*" rows="*">
                        <StackLayout col="0" class="tab-list" row="0" col="0">
                            <ListView [items]="productList" class="list-group">
                                <ng-template let-item="item">
                                    <GridLayout borderRadius="8" class="" columns="*" rows="100" (tap)="viewProduct(item)" [class.highlight]="item.ItemCode == selectedProduct.ItemCode">
                                        <StackLayout col="0" verticalAlignment="center" paddingLeft="20%">
                                            <Label [text]="item.ItemCode" class="list-group-item-heading" fontSize="24ID"></Label>
                                            <StackLayout marginLeft="5%">
                                                <Label [text]="item.ItemCodeDesc" class="list-group-item-heading"></Label>
                                            </StackLayout>
                                        </StackLayout>
                                    </GridLayout>
                                </ng-template>
                            </ListView>
                        </StackLayout>
                    </GridLayout>
                </Border>
            </StackLayout>
            <StackLayout class="product-detail" row="0" col="1">
                <GridLayout borderRadius="8" class="" columns="*" rows="100, *">
                    <Border margin="3%" colSpan="2" borderBottomWidth="2" borderColor="#F7A176" horizontalAlignment="stretch">
                        <GridLayout borderRadius="8" class="" columns="*, 30" rows="*">
                            <StackLayout col="0" class="product-detail-title">
                                <Label [text]="lineTitle" class="h1"></Label>
                                <Label [text]="lineSubTitle" class="list-group-item-heading"></Label>
                            </StackLayout>
                            <StackLayout *ngIf="showingProduct" col="1">
                                <Label text="&#xf129;" (tap)="showDescription()"></Label>
                            </StackLayout>
                        </GridLayout>
                    </Border>
                    <StackLayout class="product-description" margin="3%" col="0" row="1">
                        <StackLayout *ngIf="!showingProduct">
                            <DockLayout>
                                <Label text="Item Code"></Label>
                                <TextField [(ngModel)]="itemCode" hint="" (returnPress)="validateProductList()"></TextField>
                                <Image class="icon" src="~/assets/images/barCode.png" (tap)="onScan()"></Image>
                            </DockLayout>
                            <DockLayout>
                                <Image class="miniImage" src="~/assets/images/taskList.png"></Image>
                            </DockLayout>
                            <GridLayout class="" columns="*, *" rows="*">
                                <StackLayout class="product-total" row="0" col="0">
                                    <Border borderBottomWidth="2">
                                        <DockLayout>
                                            <Label text="Total Qty:"></Label>
                                            <Label class="h2" text="1"></Label>
                                        </DockLayout>
                                    </Border>
                                </StackLayout>
                                <StackLayout class="product-total" row="0" col="1">
                                    <Border borderBottomWidth="2">
                                        <DockLayout>
                                            <Label text="Total Amt:"></Label>
                                            <Label class="h2" text="$79.00"></Label>
                                        </DockLayout>
                                    </Border>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout *ngIf="showingProduct">
                            <GridLayout class="product-quantity" columns="340, *" rows="auto">
                                <StackLayout class="" row="0" col="0">
                                    <GridLayout class="product-sections" columns="*, *" rows="*">
                                        <StackLayout class="" row="0" col="0">
                                            <DockLayout>
                                                <Label text="Qty"></Label>
                                                <TextField #Qty maxLength="4" keyboardType="number" [(ngModel)]="productQuantity" keyboardType="number" hint=""></TextField>
                                            </DockLayout>
                                            <DockLayout marginTop="50px">
                                                <Label text="Price"></Label>
                                                <TextField [text]="selectedProduct.StandardUnitPrice | number:'1.2-5'" class="enabled" hint="" isEnabled="false"></TextField>
                                            </DockLayout>
                                        </StackLayout>
                                        <StackLayout row="0" col="1">
                                            <DockLayout>
                                                <Label text="Disc %"></Label>
                                                <TextField class="enabled" hint="" isEnabled="false"></TextField>
                                            </DockLayout>
                                        </StackLayout>
                                    </GridLayout>
                                    <StackLayout marginTop="20px">
                                        <DockLayout>
                                            <Label text="Whse"></Label>
                                            <DropDown [items]="warehouses" class="enabled" [(ngModel)]="warehouse" colSpan="2" isEnabled="false"></DropDown>
                                        </DockLayout>
                                        <TextView backgroundColor="white" style="margin-top: 15px" borderColor="#DEDEDE" borderWidth="1" height="300px" marginBottom="60px"
                                            marginTop="100px" [(ngModel)]="selectedProduct.comment" class="input input-border"></TextView>
                                    </StackLayout>
                                    <GridLayout class="" columns="125, *, *" rows="*">
                                        <StackLayout class="" row="0" col="0" horizontalAlignment="right">
                                            <Label text="QTY ON HAND"></Label>
                                            <Label [text]="selectedProduct.quantityOnHand"></Label>
                                        </StackLayout>
                                        <StackLayout row="0" col="1" horizontalAlignment="right">
                                            <Label text="QTY AVAIL"></Label>
                                            <Label [text]="selectedProduct.quantityAvail"></Label>
                                        </StackLayout>
                                        <StackLayout row="0" col="2" horizontalAlignment="right">
                                            <Label text="STD PRICE"></Label>
                                            <Label [text]="selectedProduct.StandardUnitPrice | number:'1.2-5'"></Label>
                                        </StackLayout>
                                    </GridLayout>
                                </StackLayout>
                                <StackLayout class="" row="0" col="1">
                                    <Button class="option-button" text="Add" verticalAlignment="center" (tap)="addProduct()" color="white" backgroundColor="orangered"></Button>
                                    <Button class="option-button" text="Cancel" verticalAlignment="center" (tap)="cancel()" color="white" backgroundColor="orangered"></Button>
                                    <Image class="productImage" src="~/assets/images/barCode.png" (tap)="showCart()"></Image>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf2b5; TOTALS'}">
        <GridLayout class="tab-content" columns="300, *, auto" rows="*">
            <StackLayout class="tab-list" row="0" col="0">
                <GridLayout borderRadius="8" class="totals" columns="*" rows="80, *">
                    <Border verticalAlignment="center" colSpan="2" borderBottomWidth="2" borderColor="#F7A176" horizontalAlignment="stretch">
                        <DockLayout paddingTop="30%" class="">
                            <StackLayout width="55%">
                                <Label text="Total Qty" class="" paddingRight="25%"></Label>
                            </StackLayout>
                            <StackLayout width="45%">
                                <Label borderBottomWidth="0" width="100%" class="textRight h1" isEnabled="false" [text]="cartQuantity"></Label>
                            </StackLayout>
                        </DockLayout>
                    </Border>
                    <StackLayout class="product-description" margin="3%" col="0" row="1">
                        <StackLayout class="totals">
                            <DockLayout paddingTop="30%" class="totals">
                                <StackLayout width="55%">
                                    <Label text="NET AMOUNT" class=""></Label>
                                </StackLayout>
                                <StackLayout width="45%">
                                    <Label width="100%" [text]="totalCartAmount | number:'1.2-5'" class="textRight"></Label>
                                </StackLayout>
                            </DockLayout>
                            <DockLayout paddingTop="30%" class="totals">
                                <StackLayout width="55%">
                                    <Label text="TOTAL CUBES" class=""></Label>
                                </StackLayout>
                                <StackLayout width="45%">
                                    <Label width="100%" [text]="totalCubes | number:'1.2-5'" class="textRight"></Label>
                                </StackLayout>
                            </DockLayout>
                            <!--
                            <DockLayout>
                                <Label text="DISC AMOUNT"></Label>
                                <Label text="0.00" horizontalAlignment="right"></Label>
                            </DockLayout>
                            <DockLayout>
                                <Label text="SALES TAX"></Label>
                                <Label text="0.00" horizontalAlignment="right"></Label>
                            </DockLayout>
                            <DockLayout>
                                <Label text="FREIGHT"></Label>
                                <Label text="0.00" horizontalAlignment="right"></Label>
                            </DockLayout>
                            -->
                            <Border verticalAlignment="center" colSpan="2" borderBottomWidth="2" borderColor="#F7A176" horizontalAlignment="stretch">
                                <DockLayout paddingTop="30%" class="totals">
                                    <StackLayout width="45%">
                                        <Label text="Total Amount" class=""></Label>
                                    </StackLayout>
                                    <StackLayout width="55%">
                                        <Label width="100%" [text]="totalCartAmount | number:'1.2-5'" class="h1 textRight" horizontalAlignment="right"></Label>
                                    </StackLayout>
                                </DockLayout>
                            </Border>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <StackLayout class="totals" row="0" col="1" backgroundColor="white">
                <GridLayout color="white" backgroundColor="gray" borderRadius="8" class="" columns="100, *, 120" rows="60">
                    <StackLayout col="0" verticalAlignment="center">
                        <Label text="Quantity"></Label>
                    </StackLayout>
                    <StackLayout col="1" verticalAlignment="center">
                        <Label text="Item"></Label>
                    </StackLayout>
                    <StackLayout col="2" verticalAlignment="center">
                        <Label text="Unit Price" horizontalAlignment="left"></Label>
                        <Label text="Extension" horizontalAlignment="left"></Label>
                    </StackLayout>
                </GridLayout>
                <ListView [items]="_saleOrder.Detail" class="list-group">
                    <ng-template let-item="item">
                        <GridLayout borderRadius="8" class="" columns="100, *, 120" rows="100" (tap)="setSelectedCartProduct(item)" [class.highlight]="item.ItemCode == selectedCartProduct.ItemCode">
                            <StackLayout col="0" verticalAlignment="center" paddingRight="20%">
                                <Label width="100%" class="textRight" [text]="item.quantity" horizontalAlignment="right"></Label>
                                <Label width="100%" class="totals-subtitle textRight" text="EACH" horizontalAlignment="right"></Label>
                            </StackLayout>
                            <StackLayout col="1" verticalAlignment="center">
                                <Label [text]="item.ItemCodeDesc" horizontalAlignment="left" paddingRight="20%"></Label>
                                <Label class="totals-subtitle" [text]="item.ItemCode" horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="2" verticalAlignment="center" paddingRight="20%">
                                <Label width="100%" class="textRight" [text]="item.StandardUnitPrice | number:'1.2-5'" horizontalAlignment="center"></Label>
                                <Label width="100%" class="totals-subtitle textRight" [text]="item.StandardUnitPrice | number:'1.2-5'" horizontalAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
            <StackLayout class="product-detail-icons" row="0" col="2">
                <Button class="option-button" text="&#xf044;" verticalAlignment="center" (tap)="showProductOrderModal()" color="white" backgroundColor="orangered"></Button>
                <Button class="option-button" text="&#xf1f8;" verticalAlignment="center" (tap)="deleteCartProduct()" color="white" backgroundColor="orangered"></Button>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</TabView>