<ActionBar title="Mobile Sales Automation" class="action-bar">
    <GridLayout columns="*,*" rows="auto, *" >
        <StackLayout col="0" orientation="horizontal" horizontalAlignment="left">
            <Image src="~/assets/images/logo.png"></Image>
            <Label text="Mobile Sales Automation" verticalAlignment="center"></Label>
        </StackLayout>
        <StackLayout col="1" orientation="horizontal" horizontalAlignment="right">
            <Button text="&#xf0b0; Filter" verticalAlignment="center"  (tap)="showModal()"></Button>
            <Button text="&#xf142;" verticalAlignment="center" class="options"></Button>
        </StackLayout>
    </GridLayout>
</ActionBar>

<TabView selectedIndex="1" androidSelectedTabHighlightColor="#DE6427" tabTextColor="#C2C1C1" sdkExampleTitle sdkToggleNavButton>
    <StackLayout *tabItem="{title: '&#xf05a; HEADER'}">
        <GridLayout class="tab-content" columns="*, *" rows="*">
            <StackLayout row="0" col="0">
                <DockLayout>
                    <Label text="Customer No"></Label>
                    <TextField hint="Customer No" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Date"></Label>
                    <TextField hint="Date" [(ngModel)]="dates.date" (tap)="showModal('date')"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Ship Date"></Label>
                    <TextField hint="Ship Date" [(ngModel)]="dates.shipDate" (tap)="showModal('shipDate')"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Wharehouse"></Label>
                    <DropDown [items]="wharehouses" [(ngModel)]="wharehouse" colSpan="2"></DropDown>    
                </DockLayout>
                <DockLayout>
                    <Label text="Ship Via"></Label>
                    <DropDown [items]="shipVias" [(ngModel)]="shipVia"></DropDown>
                </DockLayout>
                <DockLayout>
                    <Label text="Terms"></Label>
                    <TextField hint="Terms" isEnabled="false"></TextField>
                </DockLayout>
            </StackLayout>
            <StackLayout row="0" col="1">
                <DockLayout horizontalAlignment="left">
                    <TextField hint="371 FURNITURE" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Customer PO"></Label>
                    <TextField text=""></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Confirm To"></Label>
                    <TextField></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="FOB"></Label>
                    <TextField></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Comment"></Label>
                    <TextField></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Price Level"></Label>
                    <TextField isEnabled="false"></TextField>
                </DockLayout>   
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf2ba; ADDRESS'}" >
        <GridLayout class="tab-content" columns="*, *" rows="*">
            <StackLayout row="0" col="0">
                <DockLayout>
                    <Label class="h3" text="BILL TO ADDRESS"></Label>
                </DockLayout>
                <DockLayout>
                    <Label text="Bill To"></Label>
                    <TextField hint="Bill To" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Name"></Label>
                    <TextField hint="Name" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Address"></Label>
                    <TextField hint="Address" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <GridLayout class="tab-subContent" columns="*, *" rows="*">
                        <StackLayout row="0" col="0">
                            <DockLayout>
                                <Label text="City"></Label>
                                <TextField hint="City" isEnabled="false"></TextField>
                            </DockLayout>
                            <DockLayout>
                                <Label text="Zip"></Label>
                                <TextField hint="Zip" isEnabled="false"></TextField>
                            </DockLayout>
                        </StackLayout>
                        <StackLayout row="0" col="1">
                            <DockLayout>
                                <Label text="State"></Label>
                                <TextField hint="State" isEnabled="false"></TextField>
                            </DockLayout>
                        </StackLayout>
                    </GridLayout>
                </DockLayout>
            </StackLayout>
            <StackLayout row="0" col="1">
                <DockLayout>
                    <Label class="h3" text="SHIP TO ADDRESS"></Label>
                </DockLayout>
                <DockLayout>
                    <Label text="Ship To"></Label>
                    <DropDown [items]="shipsTo" [(ngModel)]="shipTo" colSpan="2"></DropDown> 
                </DockLayout>
                <DockLayout>
                    <Label text="Name"></Label>
                    <TextField hint="Name" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label text="Address"></Label>
                    <TextField hint="Address" isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <Label></Label>
                    <TextField isEnabled="false"></TextField>
                </DockLayout>
                <DockLayout>
                    <GridLayout class="tab-subContent" columns="*, *" rows="*">
                        <StackLayout row="0" col="0">
                            <DockLayout>
                                <Label text="City"></Label>
                                <TextField hint="City" isEnabled="false"></TextField>
                            </DockLayout>
                            <DockLayout>
                                <Label text="Zip"></Label>
                                <TextField hint="Zip" isEnabled="false"></TextField>
                            </DockLayout>
                        </StackLayout>
                        <StackLayout row="0" col="1">
                            <DockLayout>
                                <Label text="State"></Label>
                                <TextField hint="State" isEnabled="false"></TextField>
                            </DockLayout>
                        </StackLayout>
                    </GridLayout>
                </DockLayout>   
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf02e; LINES'}" >
        <Label text="First tab item"></Label>
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf2b5; TOTALS'}" >
        <Label text="First tab item"></Label>
    </StackLayout>
</TabView>